body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rule, #message, #scoreboard {
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rule, #message, .score {
    border: 1px solid gray;
    border-radius: 5px;
}

#rule, .score {
    background-color: aliceblue;
}

#rule {
    height: 50px;
}

#message {
    height: 100px;
    background-color: lightyellow;
}

#scoreboard {
    justify-content: space-between;
    gap: 10px;
}

.score {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#button-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#button-container button {
    width: 100%;
    height: 40px;
}
