* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON */

button {
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
}

#reset {
    background-color: orangered;
}

#reset:hover {
    background-color: red;
}

.number {
    background-color: gray;
}

.number:hover {
    background-color: dimgray;
}

.operator, #equal, #decimal {
    background-color: dodgerblue;
}

.operator:hover, #equal:hover, #decimal:hover {
    background-color: royalblue;
}

/* CONTAINER */

#calculator {
    background-color: silver;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

#top-container {
    display: flex;
    gap: 5px
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px
}

#screen {
    width: 160px;
    height: 50px;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px
}

#prev-num {
    font-size: 0.8rem;
}
