body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button {
    width: 80px;
    height: 40px;
}

#container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: 10px;
    display: grid;

}

#button-container {
    display: flex;
    width: 500px;
    justify-content: space-between;
}