@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color1: orange;
    --bg-color2: ghostwhite;
    --bg-color3: white;
    --bg-color4: lightgray;
    --box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

svg {
    width: 30px;
    height: 30px;
}

#sidebar div svg {
    width: 50px;
    height: 50px;
}

h1, h2 {
    font-family: "Kalam", sans-serif;
}

#header h1, #sidebar h1 {
    font-size: 2em;
}

#announcements div h1 {
    font-size: 1.2em;
}

.avatar-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-big {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

button {
    background-color: var(--bg-color1);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
}

/* MULTI */

body {
    background-color: var(--bg-color2);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#header, #sidebar {
    padding: 20px 40px;
}

#header, .container {
    background-color: var(--bg-color3);
    box-shadow: var(--box-shadow);
}

/* HEADER */

#header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
}

#header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header > div:nth-child(even) {
    justify-content: right;
}

input {
    background-color: var(--bg-color4);
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 20px;
    text-indent: 10px;
}

/* SIDEBAR */

#sidebar {
    background-color: var(--bg-color1);
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 50px
}

#sidebar div {
    display: flex;
    align-items: center;
    gap: 10px
}

#sidebar ul {
    list-style-type: none;
}

#sidebar li {
    margin-bottom: 10px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 25px;
}

/* CONTENT */

#content {
    padding: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

/* CONTENT - PROJECTS */

#projects {
    grid-row: 1 / 3
}

#projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px
}

.card {
    border-left: 10px solid orange;
}

.card div {
    display: flex;
    justify-content: right;
    gap: 5px
}

/* CONTENT - ANNOUNCEMENTS */

#announcements > div {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#announcements div div {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px
}

#announcements div div:last-child {
    border: none;
    padding-bottom: 0;
}

/* CONTENT - TRENDING */

#trending > div {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px
}

.profile span {
    color: gray
}