@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
    /* border: 2px solid red; */
}

body {
    height: 100vh;
    margin: 0;
}

header, .hero, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 5px 20px
}

h1, p {
    margin: 0
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: auto
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px
}

nav a {
    text-decoration: none;
    text-transform: lowercase;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* HERO */

.hero-container {
    display: flex;
    justify-content: center;
    width: 800px;
    max-height: 300px;
    margin: auto;
    padding: 100px 0;
    gap: 20px
}

.hero-text, .hero-img {
    flex: 1;
    /* width: 400px; */
    /* box-sizing: border-box; */
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hero-text p {
    font-size: 18px
}

.hero-img img {
    width: 100%;
    height: auto;
}

/* INFO */

.info {
    color: #1f2937;
    padding: 50px 0;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px
}

.card-img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.card p {
    width: 150px;
    text-align: center;
}

.card-img img {
    width: auto;
    height: 100%;
}

/* QUOTE */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote p {
    width: 800px;
    margin: 10px 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    text-align: right;
}

/* OFFER */

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.offer-container {
    background-color: #3882f6;
    color: #f9faf8;
    width: 800px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-container div {
    margin: 20px;
}

.offer h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.offer p {
    font-size: 12px;
}

.offer button {
    border: 1px solid #f9faf8;
}

/* FOOTER */

footer {
    padding: 20px;
    text-align: center;
}
